<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{:L("login_website_title")}</title>
	<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/css/v1/common/mobile.css">
	<link rel="stylesheet" type="text/css" href="/static/css/v1/login/login.css">
</head>
<body>
	<div class="navbar-header app-navbar" id="app-navbar">
		<div class="go-back" id="go-back"></div>
		<span class="short-text">用户登录</span>
		<div class="go-register" id="go-register">注册</div>
	</div>
	<div class="login-form">
		<div class="form-group">
			<input class="form-control phone-number input-sm" id="user-account" 
				type="text" placeholder="邮箱/手机号">
		</div>
		<div class="form-group">
			<input class="form-control user-password input-sm" id="user-password"
				type="password" placeholder="6-16位的密码">
		</div>
		<div class="alert alert-red alert-sm login-alert-box hide"></div>
		<div class="form-group get-login-box">
			<span class="btn btn-blue get-login" id="get-login">立即登陆</span>
		</div>
		<div class="form-group sns-login-wrap">
			<label>第三方登录</label>
			<div class="sns-login-icon-wrap">
				<a href="{$sina_url}" class="sina-login-icon"></a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<include file="common:footer" />
	<script type="text/javascript" src="/static/js/libs/zepto.js"></script>
	<script type="text/javascript" src="/static/js/v1/login/login.js"></script>
</body>
</html>