.video-upload-wrap, .video-upload-done {
	position: relative;
	height: 50px;
}

.video-upload-done {
	display: none;
}


.video-upload-wrap .video-btn {
	display: block;
	position: absolute;
	width: 350px;
	padding: 6px 0;
	border: 1px dashed #5890DE;
	color: #5890DE;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 1px #ddd;
}

.video-upload-wrap .video-input {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}

.video-upload-done .video-reupload-btn {
	float: left;
	border: 1px solid #FF581E;
	padding: 6px 30px;
	display: inline-block;
	border-radius: 5px;
	color: #FF581E;
	cursor: pointer;
}

.video-des-editor {
	width: 100%;
}

.username-preview {
	position: absolute;
	top: 337px;
	left: 74px;
	font-size: 12px;
	width: 73px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #7F7F7F;
}

.video-source-preview {
	position: absolute;
	width: 290px;
	z-index: 1;
	top: 166px;
	left: 36px;
}

.video-name-preview {
	position: absolute;
	z-index: 1;
	top: 127px;
	width: 157px;
	text-align: center;
	left: 97px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.video-size-preview {
	position: absolute;
	top: 337px;
	font-size: 12px;
	color: #626262;
	left: 176px;
}

.video-des-preview {
	position: absolute;
	top: 393px;
	left: 41px;
	text-align: left;
	width: 290px;
	word-break: break-all;
	font-size: 14px;
	height: 116px;
	overflow: auto;
}

.video-image-preview {
	width: 303px;
	position: absolute;
	z-index: 1;
	top: 160px;
	left: 29px;
	height: 170px;
}