<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>忘记密码 - 酷多二维码</title>
<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/v1/common/global.css">
<link rel="stylesheet" type="text/css" href="/static/css/v1/user/forgetpassword.css">
</head>
<body>
	<div class="container">
		<h3 class="page-title">忘记密码</h3>
		<div class="main-content">
			<div class="content-header">
				<div class="email-btn selected">通过邮箱找回</div>
				<div class="phone-btn">通过手机号码找回</div>
			</div>
			<div class="content-email-wrap form form-horizontal">
				<div class="form-group">
					<div class="alert alert-warning custom-alert" >系统将给您的注册邮箱发送一封密码重置邮件</div>
				</div>
				<div class="form-group">
					<label>邮箱</label>
					<input type="text" class="form-control email-input" id="email-input" placeholder="注册时的邮箱"/>
				</div>
				<div class="form-group">
					<label>验证码</label>
					<input class="form-control verify-code-1" >
					<img src=" {:U('Api/createVerify')}" title="{:L('register_form_verify_code_title')}" class="verify-code-image" />
					<a href="javascript:void(0)" class="verify-code-link">看不清？</a>
				</div>
				<div class="form-group">
					<span class="btn btn-info send-email" id="send-email">发送</span>
				</div>
			</div>
			<div class="content-phone-wrap form form-horizontal">
				<div class="form-group">
					<div class="alert alert-warning custom-alert" >系统将给您的手机发送验证码确认</div>
				</div>
				<div class="form-group">
					<label>手机号码</label>
					<input type="text" class="form-control phone-input" id="phone-input" placeholder="注册时填写的手机号码"/>
				</div>
				<div class="form-group">
					<label>验证码</label>
					<input class="form-control verify-code-2" >
					<img src=" {:U('Api/createVerify')}" title="{:L('register_form_verify_code_title')}" class="verify-code-image" />
					<a href="javascript:void(0)" class="verify-code-link">看不清？</a>
				</div>
				<div class="form-group">
					<span class="btn btn-info send-phone-code" id="send-phone-code">发送</span>
				</div>
			</div>
			<div class="email-success-wrap">
				<div class="alert alert-success custom-alert-success-1">邮件已发送。若未收到邮件，请检查邮件是否在垃圾箱中，客服微博：<a target="_blank" href="http://weibo.com/u/3954256289/" style="color: #3C53D5;">@酷多二维码</a></div>
				<div class="alert alert-success custom-alert-success-2">短信验证码已发送，若未收到请联系客服，客服微博：<a target="_blank" href="http://weibo.com/u/3954256289/" style="color: #3C53D5;">@酷多二维码</a></div>
				<div class="form-group">
					<label>验证码</label>
					<input class="form-control confirm-code" >
				</div>
				<div class="form-group">
					<span class="btn btn-info confirm-code-btn" id="confirm-code-btn">发送</span>
				</div>
			</div>
		</div>
	</div>
	<include file="Common:site_footer" />
	<script type="text/javascript" src="/static/js/v1/user/forgetpassword.js"></script>
</body>
</html>