<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{:L("user_website_title")}</title>
	<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/v1/common/global.css">
	<link rel="stylesheet" type="text/css" href="/static/css/v1/user/settings.css">
</head>
<body>
	<include file="Common:user_header" />
	<div class="container message-container">
		<div class="message-heading">我的消息</div>
		<div class="col-lg-7">
			<ul class="message-list">
				<li>
					<div class="message-header">
						<img src="http://tp2.sinaimg.cn/1957394257/50/40008475657/0" />
					</div>
					<div>
						<span class="message-sender-name">猴子哥</span>
						<span class="message">我喜欢你</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<include file="Common:site_footer" />
</body>
</html>