<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>重置密码 - 酷多二维码</title>
<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/v1/common/global.css">
<link rel="stylesheet" type="text/css" href="/static/css/v1/user/resetpassword.css">
</head>
<body>
	<include file="Common:site_header" />
	<div class="container">
		<h3 class="page-title">重置密码</h3>
		<div class="main-content">
			<div class="content-wrap form form-horizontal">
				<div class="form-group">
					<div class="alert alert-warning custom-alert" >请重置密码</div>
				</div>
				<div class="form-group">
					<label>新密码</label>
					<input type="password" class="form-control password-input" id="password-input" placeholder="新密码"/>
				</div>
				<div class="form-group">
					<label>确认密码</label>
					<input type="password" class="form-control repwd-input" id="repwd-input" placeholder="确认新密码"/>
				</div>
				<div class="form-group">
					<span class="btn btn-info reset-btn" id="reset-btn">确认重置</span>
				</div>
			</div>
		</div>
	</div>
	<include file="Common:site_footer" />
	<script type="text/javascript" src="/static/js/v1/user/resetpassword.js"></script>
</body>
</html>