<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>酷多名片 - 国内最专业的商务智能名片</title>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="酷多名片 商务名片 智能名片 商务名片 在线名片制作 免费名片" />
	<meta name="description" content="酷多名片是国内最专业的商务智能名片，提供名片的设计、在线制作、快递包邮服务！" />
	<link rel="canonical" href="http://mp.ikuduo.com/" />
	<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
	<link rel="stylesheet" href="/static/mp/css/global.css" />
	<link rel="stylesheet" href="/static/mp/css/home.css" />
</head>
<body>
<div class="site-banner">
	<div class="navbar-header">
		<div class="container">
			<div class="logo"><h1>酷多名片</h1></div>
			<div class="navbar-item">
				<a href="/">首页</a>
				<a href="/customize">立即订购</a>
				<a href="/login">登录</a>
			</div>
		</div>
	</div>
	<div class="banner-main">
		<div class="site-intro">Some Texts</div>
		<a href="/customize" class="btn btn-pink btn-customize">立即订购</a>
	</div>
</div>
<div class="mp-spec">
	<h2 class="spec-title">酷多名片搞定四大需求</h2>
	<div class="spec-text">some long text some long text some long text some long text some long text</div>
	<div class="container">
		<div class="spec-blocker">
			<div class="image-container"></div>
			<h3 class="hot-title">二维码动态管理</h3>
		</div>
		<div class="spec-blocker">
			<div class="image-container"></div>
			<h3 class="hot-title">在线定制配送</h3>
		</div>
		<div class="spec-blocker">
			<div class="image-container"></div>
			<h3 class="hot-title">名片模板任你挑</h3>
		</div>
		<div class="spec-blocker">
			<div class="image-container"></div>
			<h3 class="hot-title">售后服务</h3>
		</div>
	</div>
</div>
<div class="footer" style="border-top: 3px solid #000">
footer待定
</div>
</body>
</html>