data/preview/
data/qrcode/
data/uploads/files/*
data/uploads/audios/*
data/uploads/avatars/*
data/uploads/icons/*
data/uploads/images/*
data/uploads/videos/*
data/uploads/vcard/
.buildpath
Runtime/
.project
.settings/
ThinkPHP/Extend/Vendor/phpqrcode/cache/
static/img/temp/
app/Home/Conf/config.php
app/Common/Conf/config.php
app/Admin/Conf/config.php
