/**
 	* @author 李珠刚
 */
html {
	height: 100%;
}

body {
	background: #F7F7F7;
	height: 100%;
}

.app-navbar {
	position: relative;
	z-index: 10;
	background: #fff;
	height: 44px;
	border-bottom: 1px solid #E5E5E5;
	text-align: center;
	width: 100%;
}

.user-login {
	position: absolute;
	right: 10px;
	top: 12px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 16px;
}

.app-navbar .short-text {
	display: inline-block;
	*display: block;
	font-size: 18px;
	margin-top: 10px;
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.go-back {
	position: absolute;
	left: 10px;
	top: 10px;
	background: url(/static/img/back.png) no-repeat 0px 0px;
	background-size: 16px;
	width: 30px;
	height: 30px;
}

.app-icons {
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.app-navbar .icon-bar {
	background: #333;
}

.go-next {
	position: absolute;
	right: 10px;
	top: 12px;
	display: inline-block;
	float: right;
	font-size: 16px;
}


.add-content {
	margin-top: 30px;
}

.user-login {
	position: absolute;
	right: 10px;
	top: 12px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 16px;
}

.content-warning {
	margin-top: 100px;
	margin-bottom: 50px;
}

.content-type {
	position: absolute;
	display: none;
	bottom: 0;
	border-top: 1px solid #ddd;
	text-align: center;
	width: 100%;
	background: rgba(245, 245, 240, 0.9);
}

.type-label {
	display: inline-block;
	*display: inline;
	width: 50px;
	height: 70px;
	margin: 13px;
}

.type-label .type-image {
	width: 50px;
	height: 50px;
}

.type-label .type-name {
	display: block;
	white-space: nowrap;
	text-align: center;
	color: #4B4D46;
	font-size: 16px;
}

.type-text {
	background: url(/static/img/pencil.png) no-repeat 0 0;
	background-size: 50px;
	vertical-align: bottom;
}

.type-audio {
	background: url(/static/img/voice.png) no-repeat 0 0;
	background-size: 50px;
	vertical-align: bottom;
}

.type-video {
	background: url(/static/img/video.png) no-repeat 0 0;
	background-size: 50px;
	vertical-align: bottom;
}

.type-katie {
	background: url(/static/img/katie.png) no-repeat 0 0;
	background-size: 50px;
	vertical-align: bottom;
}

.type-more {
	background: url(/static/img/more.png) no-repeat 0 0;
	background-size: 50px;
	vertical-align: bottom;
}