<!DOCTYPE html>
<html>
<head>
	<title> {:L("common_index_website_title")}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="酷多二维码 二维码 二维码营销 二维码制作 二维码美化 二维码生成 二维码名片 QRcode 微信二维码 有声二维码" />
	<meta name="description" content="酷多二维码是国内二维码服务平台，免费提供二维码生成美化的一站式解决方案，更好适应您的二维码营销需求" />
	<link rel="canonical" href="http://www.ikuduo.com/" />
	<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/static/css/libs/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/common/global.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/home/index.css" />
	<link type="text/css" rel="stylesheet" href="/static/js/libs/slider/slider.css" />
</head>
<body>
	<include file="Common:site_header" />
	<div class="site-banner">
		<div class="slider-wrap">
			<ul class="slider">
				<li>
					<div class="page-header text-center">
						<div class="site-banner-title-wrap">
							<h1 class="free-header-title">免费制作你的特色二维码</h1>
							<p class="lead">免费美化二维码&nbsp;&nbsp;&nbsp;获取丰富的功能</p>
						</div>
						<a href="/create?rel=home" class="btn btn-info btg-lg create-btn"
							id="create-btn">前往生成</a>
					</div>
					<img src="/static/img/banner/banner2.jpg"></li>
				<li class="hide"><img src="/static/img/banner/banner1.jpg"></li>
			</ul>
		</div>
		
	</div>
	<!-- <div class="site-qr-demo"></div> -->
	<div class="qr-title-line" id="how-to-make-qrcode">
		<h2>如何制作二维码?</h2>
	</div>
	<div class="container">
		<div class="qrcode-make-introduce">免费生成二维码三步走</div>
		<div class="col-lg-12 site-qr-introduce">
			<div class="col-lg-4">
				<div class="icon-image icon-type-select">选择类型</div>
				<h2 class="icon-title">选&nbsp;&nbsp;择&nbsp;&nbsp;类&nbsp;&nbsp;型</h2>
				<p class="introduce-content">丰富多样的二维码类型</p>
			</div>
			<div class="col-lg-4">
				<div class="icon-image icon-modify">美化</div>
				<h2 class="icon-title">美&nbsp;&nbsp;化</h2>
				<p class="introduce-content">美观大气的二维码美化</p>
			</div>
			<div class="col-lg-4">
				<div class="icon-image icon-produce">生成</div>
				<h2 class="icon-title">生&nbsp;&nbsp;成</h2>
				<p class="introduce-content">轻松方便的二维码管理</p>
			</div>
			<a href="/create?rel=howtomake" class="btn btn-info get-qrcode-btn"
				id="get-qrcode-btn">立 &nbsp;即 &nbsp;制 &nbsp;作</a>
		</div>
	</div>
	<!-- <div class="qr-title-line-two">
		<h2>酷多二维码的特点？</h2>
	</div>
	<div class="container">
		<div class="col-lg-12 site-qr-special">
			<div class="col-lg-4">
				<div class="icons-image"></div>
				<blockquote>
					<small>功能丰富</small>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<div class="icons-image"></div>
				<blockquote>
					<small>美观大气</small>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<div class="icons-image"></div>
				<blockquote>
					<small>数据统计</small>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<div class="icons-image"></div>
				<blockquote>
					<small>精准营销</small>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<div class="icons-image"></div>
				<blockquote>
					<small>免费制作</small>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<div class="icons-image"></div>
				<blockquote>
					<small>优质服务</small>
				</blockquote>
			</div>
		</div>
	</div>
 -->
	<div class="site-qr-get">
		<h2 style="display:inline-block;">免费制作二维码</h2>
		<a href="/create?rel=spec" class="btn btn-white site-qr-get-bottom" id="site-qr-get-bottom">立即前往</a>
	</div>
	<div class="container">
		<div class="col-lg-12 qr-lost-katie">
			<div class="col-lg-6">
				<h2>酷多失物贴</h2>
				<p class="text-muted">酷多失物贴是以二维码为基础的强大寻物工具，在您的钥匙扣上，银行卡，校园卡上贴上、挂上附有二维码的酷多寻物卡，他人捡到您的失物，扫一扫即可通知您失物寻回。安全性高、隐私性好。</p>
			</div>
			<div class="col-lg-5 col-lg-offset-1">
				<div class="lost-katie-link">即将推出</div>
			</div>
		</div>
	</div>	
	<!-- <div class="site-qr-business">
		<h2>我们都在使用酷多二维码</h2>
	</div>
	<div class="container">
		<div class="carousel slide qr-business-list" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-captions" data-slide-to="0"
					class=""></li>
				<li data-target="#carousel-example-captions" data-slide-to="1"
					class=""></li>
				<li data-target="#carousel-example-captions" data-slide-to="2"
					class="active"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item">
					<div class="site-qr-demo"></div>
					<div class="carousel-caption">
						<h3>First slide label</h3>
						<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
					</div>
				</div>
				<div class="item">
					<div class="site-qr-demo"></div>
					<div class="carousel-caption">
						<h3>Second slide label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
				<div class="item active">
					<div class="site-qr-demo"></div>
					<div class="carousel-caption">
						<h3>Third slide label</h3>
						<p>Praesent commodo cursus magna, vel scelerisque nisl
							consectetur.</p>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<include file="Common:site_footer" />
	<script type="text/javascript" src="/static/js/libs/slider/slider.min.js"></script>
	<script type="text/javascript" src="/static/js/v1/home/index.js"></script>
</body>
</html>
