<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit" />
	<title>{:L("create_phone_website_title")}</title>
	<meta name="keywords" content="酷多二维码 电话二维码" />
	<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/static/css/libs/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/common/global.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/create/common.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/create/phone.css" />
</head>
<body>
	<include file="Common:site_header" />
	<include file="Create:step_common_top" />
	<div class="container site-content">
		<div class="col-lg-7">
			<div class="form-group">
				<label class="control-label" for="text-value">电话号码：</label> 
				<input class="form-control phone-number-input" value="{$value}" id="phone-value" placeholder="手机号码/电话" />
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<div class="qr-preview phone-preview">
				<img class="phone-image" src="/static/img/phone/phone_1.png" />
				<div class="phone-number">{$value}</div>
			</div>
		</div>
	</div>
	<include file="Create:step_common_bottom" />
	<include file="Common:site_footer" />
	<script type="text/javascript" src="/static/js/v1/create/phone.js"></script>
</body>
</html>