<div class="container">
	<div class="qrcode-step">
		<div class="step">1. 选择二维码类型</div>
		<div class="step current-step">2. 编辑二维码内容</div>
		<div class="step">3. 美化生成二维码</div>
	</div>
</div>
<div class="qr-edit-wrap">
	<div class="container text-center">
		<h2 class="qr-edit-title">编辑内容</h2>
		<img src="/static/img/edit_title.png" class="qr-edit-image" alt="编辑内容" />
		<button class="btn btn-danger btn-lg btn-next-render"
			id="btn-next-render-top">下一步</button>
		<a href="/create/" class="btn btn-lg btn-white btn-go-back">返回</a>
	</div>
</div>
