body {
	background: url(/static/img/user/bg.jpg) 0 0 no-repeat;
}

.main-content {
    margin-bottom: 100px;
}

.page-title {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 45px;
	padding-bottom: 20px;
	color: #fff;
}

.email-btn {
    display: inline-block;
    border: 1px solid #ddd; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 11px 45px;
    background: #fff;
}

.phone-btn {
    display: inline-block;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px;  
    padding: 11px 45px;
    margin-left: 4px;
    background: #fff;
}

.email-btn.selected, .phone-btn.selected {
	 border: 1px solid #34BEFF;
	 position: relative;
	 z-index: 1;
	 background: #34BEFF;
	 color: #FFF;
}
.content-email-wrap, .content-phone-wrap {
	border: 1px solid #ddd;
	padding: 45px 0;
	border-top: 2px solid #34BEFF;
	box-shadow: 0px 2px 1px #ddd;
	background: #fff;
}

.content-phone-wrap {
	display: none;
}

.content-email-wrap .email-input, .content-phone-wrap .phone-input {
	margin-left: 15px;
	display: block;
	width: 380px;
	font-weight: bold;
	float: left;
}


.main-content .form-group{
	width: 500px;
	margin: 15px auto 0;
}

.main-content .form-group > label {
	width: 90px;
	display: block;
	float: left;
	padding: 8px;
	text-align: left;
}

.send-email {
    border-radius: 5px;
    padding: 7px 47px;
    margin: 15px 0 0 104px;
    width: 135px;
    float: left;
    display: block;
}

.send-phone-code {
	border-radius: 5px;
	padding: 7px 47px;
	margin: 15px 0 0 104px;
	width: 135px;
	float: left;
	display: block;
}

.custom-alert {
	display: inline-block;
	font-size: 14px;
	width: 484px;
	border-radius: 5px;
	text-align: center;
}

.custom-alert-success-1, .custom-alert-success-2 {
	border-radius: 5px;
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
	display: none;
}

.email-success-wrap {
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 45px 0;
	border-top: 2px solid #34BEFF;
	box-shadow: 0px 2px 1px #ddd;
	background: #fff;
	display: none;
}

.verify-code-1, .verify-code-2 {
	display: inline;
	width: 80px;
	margin-left: 15px;
}

.verify-code-image {
	margin-left: 10px;
	margin-top: -3px;
	cursor: pointer;
	width: 80px;
	height: 39px;
}

.verify-code-link {
	font-size: 14px;
	margin-left: 10px;
	color: #436FBD;
	text-decoration: underline;
}

.confirm-code {
	display: inline;
	width: 300px;
}

.confirm-code-btn {
	border-radius: 5px;
	width: 183px;
	margin: 36px 0 0 120px;
	display: block;
}

.site-footer {
	margin-top: 100px;
}