.main-content {
    margin-bottom: 100px;
}

.page-title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 45px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

.main-content .form-group{
	width: 500px;
	margin: 15px auto 0;
}

.main-content .form-group > label {
	width: 90px;
	display: block;
	float: left;
	padding: 8px;
	text-align: left;
}

.custom-alert {
	display: inline-block;
	font-size: 14px;
	width: 484px;
	border-radius: 5px;
}

.repwd-input {
    float: left;  width: 392px;
	
}

.password-input {
    float: left;
	
    width: 392px;
}

.reset-btn {
    border-radius: 5px;
	
    margin-left: 90px;
}