.clear-fix {
	clear: both;
}

.setting-container {
	margin-bottom: 100px;
}

.setting-heading {
	font-size: 24px;
	color: #777;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 50px;
}

.setting-menu-list {
	margin-top: 30px;
}

.setting-menu-list .menu-title {
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 3px solid #D12929;
}

.setting-menu-list .menu-list{
	cursor: pointer;
	list-style: none;
	padding: 5px 0 0 0;
	color: #5E5E5E;
}

.setting-menu-list .selected {
	background: #f1f1f1;
	border-left: 3px solid #33BDFF;
}

.setting-menu-list .menu-item {
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 20px;
}

.setting-content {
	margin: 50px 0 0 50px;
	background: #FAFAFA;
	padding: 35px 60px 10px 114px;
	border: 1px solid #ddd;
}

.setting-content > div {
	margin-bottom: 20px;
	display: none;
}

.setting-content > div.basic-info {
	display: block;
}

.setting-content > .modify-password > div {
	margin-bottom: 25px;
}

.setting-content > .modify-password label {
	font-weight: normal;
	width: 90px;
	text-align: right;
}

.setting-content > .modify-password input {
	display: inline-block;
	width: 40%;
	margin-left: 20px;
}

.setting-content > .modify-password .save-password-wrap {
	margin-top: 30px;
}

.setting-content .account-binding .links .weibo > img {
	float: left;
	margin-right: 10px;
}

.setting-content .account-binding .links .weibo > span {
	float: left;
	margin-right: 20px;
}

.basic-info .form-group {
	margin-bottom: 30px;
}

.basic-info .form-group > label.title{
	width: 60px;
	font-weight: normal;
	font-size: 18px;
}

.basic-info .form-group > label.introduction {
	width: 80px;
}

.basic-info .form-group input {
	display: inline-block;
	width: 200px;
}

.basic-info .form-group textarea {
	display: block;
	width: 400px;
	height: 100px;
	resize: none;
}

.basic-info .form-group input[type="radio"] {
	width: 50px;
	margin-right: 25px;
}

.basic-info .gender-form-group label {
	width: 15px;
}

.basic-info .gender-select-wrap label {
	font-weight: normal;
}

.basic-info .gender-form-group label {
	float: left;
	margin-top: 1px;
}

.basic-info .gender-form-group input {
	float: left;
	margin-top: 5px;
}

.basic-info .gender-form-group label.title {
	margin-top: 1px;
	margin-left: 5px;
}

.basic-info .birthday-wrap {
	position: relative;
}

.basic-info .birthday-wrap i {
	cursor: pointer;
	position: absolute;
	left: right;
	left: 240px;
	top: 13px;
}

.basic-info .region label, .basic-info .region .dropdown {
	float: left;
}

.basic-info .region label {
	margin-top: 10px;
}

.basic-info .region .dropdown {
	margin-left: 5px;
	margin-right: 80px;
}

.basic-info .dropdown-toggle {
	width: 160px;
}

.basic-info .dropdown-menu {
	max-height: 300px;
	overflow-y: overlay;
}

.basic-info .dropdown-menu-item {
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.dropdown-menu-item:hover {
	background: #4582ec;
	color: #fff;
}

.save-btn {
	width: 100px;
}

.modify-avatar .user-avatar-wrap {
	float: left;
	margin-bottom: 35px;
}

.modify-avatar .user-avatar {
	min-width: 200px;
	max-width: 300px;
	outline: solid 5px #e0e6e7;
}

.modify-avatar .upload-avatar-wrap {
	position: relative;
	height: 40px;
	text-align: center;
	margin-bottom: 30px;
}

.modify-avatar .upload-avatar-wrap .btn {
	position: absolute;
	left: 0px;
	width: 100px;
	background: #D4EEFF;
	color: #666;
}

.modify-avatar .upload-avatar-wrap .tips {
	position: absolute;
	left: 130px;
	top: 8px;
	font-size: 16px;
	color: #666;
}

.modify-avatar .upload-avatar-wrap input {
	position: absolute;
	width: 100px;
	height: 35px;
	left: 0px;
	outline: solid 1px;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.modify-avatar .avatar-preview-wrap {
	float: right;
	margin-bottom: 35px;
}

.modify-avatar .preview-avatar-wrap {
	width: 100px;
	height: 100px;
	overflow: hidden;
	outline: solid 3px #e0e6e7;
}

.modify-avatar .avatar-preview-wrap .preview-title {
	margin-bottom: 10px;
	font-size: 16px;
	color: #666;
}

.modify-avatar .preview-avatar-wrap img {
	width: 100%;
	min-height: 100%;
}

.modify-avatar .save-avatar-wrap {
	margin-top: 30px;
}