<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>关于我们 - 有声</title>
<link rel="stylesheet" type="text/css" href="/static/css/libs/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/v1/common/global.css">
</head>
<body>
	<include file="Common:site_header" />
	<div class="container">
	<h3 class="page-header">关于我们</h3>
	<div class="alert alert-success">
	有声是一个特色二维码制作网站...正在制作中
	</div>
	</div>
	<include file="common:site_footer" />
</body>
