<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{:L("login_website_title")}</title>
<link rel="stylesheet" type="text/css"
	href="/static/css/libs/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/v1/common/global.css">
<style>
.link-content {
	background: #FDFDFD;
	padding-top: 50px;
	padding-bottom: 80px;
}

.link-content dt {
	margin-top: 5px;
}
</style>
</head>
<body>
	<include file="Common:site_header" />
	<div class="link-content">
		<div class="container">
			<h2 class="page-header">友情链接</h2>
			<dl class="clearfix">
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.youku.com/" title="优酷"><img
						src="http://imge.kugou.com/commendpic/20130620/20130620171323858752.gif"
						alt="优酷网" /></a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
				<dt class="col-lg-2">
					<a href="http://www.baidu.com/">百度</a>
				</dt>
			</dl>
			<p class='text-muted'>
				<strong>友情链接互换请联系：<a href="mailto:bd@usheng.me">bd@usheng.me</a></strong>
			<p>
		</div>
	</div>
	<include file="common:site_footer" />
</body>
</html>