<!DOCTYPE html>
<html>
<head>
	<title>印刷产品管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon"  href="/static/img/favicon.ico" />
	<link type="text/css" rel="stylesheet"	href="/static/css/libs/united.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/common/global.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/v1/admin/common.css" />
	<link type="text/css" rel="stylesheet"	href="/static/js/libs/jqcrop/css/jquery.Jcrop.css" />
	<link type="text/css" rel="stylesheet" href="/static/js/libs/jquery.color/jquery.color.css" />
</head>
<body>
	<include file="Admin:header" />
	<div class="container main-content">
		<div class="row">
			<include file="Admin:sidebar" />
			<div class="col-lg-10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">欢迎使用</h3>
					</div>
					<div class="panel-body">
						<p>欢迎进入iKuduo后台管理系统！</p>
						<p>如有问题，请及时反馈</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Admin:notification" />

	<script src="/static/js/libs/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/libs/jqcrop/js/jquery.Jcrop.js"></script>
	<script type="text/javascript" src="/static/js/libs/jquery.color/jquery.color.js"></script>
	<script type="text/javascript" src="/static/js/libs/ajaxfileupload.js"></script>
	<script type="text/javascript" src="/static/js/libs/jquery.slider/jquery.slider-1.0.0.js"></script>
	<script type="text/javascript" src="/static/js/v1/admin/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/v1/admin/common.js"></script>
	<script type="text/javascript" src="/static/js/v1/admin/index.js"></script>
</body>
</html>